body {
	margin: 0;
	background-color: rgb(12, 12, 53);
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container {
	background-color: white;
	border-radius: 50%;
	height: 250px;
	width: 250px;
	margin: 0 auto;
    overflow: hidden;
    /* animation: fade-circle 5s linear infinite; */
    animation: fade-circle 5s cubic-bezier(0.75, 0.41, 0.76, 0.43) infinite;
}

.sky {
	background-color: #7ddffc;
	height: 160px;
}

.sand {
	background-color: #f0de75;
	height: 90px;
}

.pyramid-left {
	background-color: #f4f4f4;
	position: relative;
	top: -190px;
	left: 86px;
	height: 70px;
	width: 50px;
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
    animation: darken-left-pyramid 5s linear infinite;
}

.pyramid-right {
	background-color: #919191;
	position: relative;
	top: -259px;
	left: 136px;
	height: 70px;
	width: 50px;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    animation: darken-right-pyramid 5s linear infinite;
}

.sun {
	border-radius: 50%;
	background: #ffef00;
	position: relative;
	height: 30px;
    width: 30px;
    top: -227px;
    right: -115px;
    transform-origin: 50% 600%;
    animation: sunrise-to-sunset 5s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}


@keyframes sunrise-to-sunset{
  0% {
    background: #F57209;
    -webkit-transform: rotate(-70deg);
            transform: rotate(-70deg);
  }
  30% {
    background: #FFEF00;
    -webkit-transform: rotate(-28deg);
            transform: rotate(-28deg);
  }
  70% {
    background: #FFEF00;
  }
  100% {
    background: #F57209;
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
}

@keyframes darken-left-pyramid{
    0%{
        background-color: #f4f4f4;
    }

    50%{
        background-color: #dddada;
    }

    100%{
        background-color: #919191;
    }
}


@keyframes darken-right-pyramid{
    0%{
        background-color: #919191;
    }

    50%{
        background-color: #f7f7f7;
    }

    100%{
        background-color: #fcfcfc;
    }


}

@keyframes fade-circle{
    0%{
        opacity: 100%;
    }

    100%{
        opacity: 0%;
    }
}