@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html{
  min-height: 100%;
  overflow: hidden;
}

body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgb(25,25,25);  
}

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/*
.anim-typewriter{
  animation: typewriter 3s steps(44) 1s 1 reverse,
             typewriter 3s steps(42) 1s 1 normal,
             blinkTextCursor 250ms steps(44) infinite alternate;
}
*/

/* Animation */
.anim-typewriter{
  animation: typewriter 3s steps(42) 1s 1 normal,
             blinkTextCursor 250ms steps(44) infinite alternate,
             delete 1s steps(10) 5s 1 normal,
             retype 1s steps(10) 6s 1 normal;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}

@keyframes delete {
  from{width: 24em;}
  to{width: 13em;}
}

@keyframes retype {
  from{width: 13em;}
  to{width: 17.5em;}
}

@keyframes blinkTextCursor{
  from{border-right-color: rgba(255, 255, 255, 0.75);}
  to{border-right-color: transparent;}
}
